<!DOCTYPE html>
<html>
  <body>
    <h1><%= @list.name %></h1>
    <form method="POST" action"/shopping_list">
      <p>Add new item: <input type="text" name="name"></p>
      <button id="new_item" type="submit">Add item</button>
    </form>
    <ul class="witchcult-list" id=<%= @list.slug %>>
      <% @list.list_items.each do |item| %>
      <li class="witchcult-list-item"><%= item.name %></li>
      <% end %>
    </ul>
  </body>
</html>
